body {
	background-color: black;
}

h1, p, h2, title {
	color: white;
}

title, h1, h2 {
	font-weight: bold;
	text-align: center
}

h1 {
	font-style: initial; 
	font-size: 60px; 
}

p {
	text-align: center;
}

h2 {
	font-size: 30px;
}

img, iframe {
	display: block;
	margin-left: auto;
    margin-right: auto;
}